<% if @current_user %>

  <% if Droit.find(@current_user.droit_id).role == "admin" %>
    <h1>Page Societe</h1>

    <h1>Créer société</h1>

      <%= form_for :societe do |f| %>

      <% if @societe && @societe.errors.any? %>
        <h2><%= pluralize(@societe.errors.count, "erreurs") %> empêchent l'enregistrement de la société</h2>
        <ul>
          <% @societe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        </div>
      <% end %>

        Nom : <%= f.text_field :nom_societe %><br />
        Référent : <%= f.text_field :referent %><br />
        Mail : <%= f.text_field :mail %><br />
        Adresse : <%= f.text_area :adresse %><br />
        Tel : <%= f.text_field :telephone %><br />

  <%= f.submit %>
      <% end %>

    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Référent Technique</th>
        <th>Adresse</th>
        <th>Mail</th>
        <th>Téléphone</th>
      </tr>
      <% @societes.each do |societe| %>
        <tr>
          <td><%= societe.id %></td>
          <td><%= societe.nom_societe %></td>
          <td><%= societe.referent %></td>
          <td><%= societe.mail %></td>
          <td><%= societe.adresse %></td>
          <td><%= societe.telephone %></td>
          <td><a href="/societe/show?id=<%= societe.id %>">
            <button>edit</button>
          </a></td>
          <td><a href="/societe/delete?id=<%= societe.id %>">x</a></td>
        </tr>
      <% end %>

    </table>

    <%= link_to 'Back', welcome_index_path %>
    <%= link_to 'Deconnexion', welcome_deconnexion_url %>
  <% else %>
    <p>Vous n'avez pas les droits pour accéder à cette page</p>
    <%= link_to 'Accueil', welcome_index_path %>
    <%= link_to 'Deconnexion', welcome_deconnexion_url %>
  <% end %>
<% else %>
  <p>Vous n'êtes pas connecté, veuillez vous connecter</p>
  <%= link_to 'Accueil', welcome_index_path %>
<% end %>