<% if @current_user %>
  <% if Droit.find(@current_user.droit_id).role == "admin" %>
    <h1>Edition société</h1>
    <%= link_to 'Back', societe_path %>

    <h2>Coordonnées actuelles</h2>
    <p><label>Nom de la société : </label>
      <%= @societe.nom_societe %>
    </p>

    <p><label>Référent technique de la société : </label>
      <%= @societe.referent %>
    </p>

    <p><label>Adresse société : </label>
      <%= @societe.adresse %>
    </p>

    <p><label>Mail : </label>
      <%= @societe.mail %>
    </p>

    <p><label>Téléphone : </label>
      <%= @societe.telephone %>
    </p>

    <h2>Editer un champ</h2>


      <%= form_for :societe, method: :post do |f| %>

        <% if @societe && @societe.errors.any? %>
          <h2><%= pluralize(@societe.errors.count, "erreurs") %> empêchent l'enregistrement de la société</h2>
          <ul>
            <% @societe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          </div>
        <% end %>

        <%= f.hidden_field :id %>
        Nom : <%= f.text_field (:nom_societe), disabled: true %><br />
        Référent : <%= f.text_field :referent %><br />
        Mail : <%= f.email_field :mail %><br />
        Adresse : <%= f.text_area(:adresse, size:"50x6") %><br />
        Tel : <%= f.telephone_field :telephone %><br />

        <%= f.submit %>
      <% end %>


  <% else %>
    <p>Vous n'avez pas les droits requis pour accéder à cette page !</p>
    <%= link_to 'Accueil', welcome_index_path %>
  <% end %>
<% else %>
  <p>Veuillez vous connecter pour accéder à cette page !</p>
  <%= link_to 'Accueil', welcome_index_path %>
<% end %>
