<%= stylesheet_link_tag 'anomalie' %>
<h1>EDITION DE L'ANOMALIE</h1>
<%= link_to 'Annuler', anomalie_path %>
<div class="line"></div>
<p>
<label>Statut de l'anomalie : </label>
  <%= @anomalie.statut %>
</p>
<p>

<p>
  <label>Descriptif de l'anomalie : </label>
  <%= @anomalie.descriptif %>
</p>

<p>
  <label>Date de l'anomalie : </label>
  <%= @anomalie.date %>
</p>

<% unless @anomalie.alerte_type.nil? %>
  <p><%=plan_type = PlanActionTypeController.new.generate(@anomalie.alerte_type)%></p>
  <% if plan_type == "Type != nil" || plan_type == "Type != Undefined" %>
  <p> test </p>
  <% end %>
  <% else %>

  <%= form_for :anomalie do |f| %>
      <% if @anomalie && @anomalie.errors.any? %>
        <h2><%= pluralize(@anomalie.errors.count, "erreurs") %> empêchent l'enregistrement de la société</h2>
        <ul>
          <% @anomalie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
      <%= f.hidden_field :id%>
        Descriptif : <br /><%=f.text_area(:descriptif, size:"50x6")%><br /><br />
        <label>Alerte réelle ?</label>
        <select name="real_alerte">
          <option value="yes">Oui</option>
          <option value="no">Non</option>
          <option value="und">Undefined</option>
        </select><br /><br />
        <label>Type de l'alerte</label>
      <%=  f.select :alerte_type, [['DDOS', 'DDOS'], ['Phishing', 'Phishing'], ['Undefined', 'Undefined']]%>
    <br /><br /><br />
    <%= f.submit %>
<% end %>

<% end %>
