<% if @current_user %>
  <% if Droit.find(@current_user.droit_id).role == "admin"  %>
    <h1>Pages users
    </h1>
    <h2>Créer utilisateur
    </h2>
<%= flash[:notice] %>

<%= form_for :utilisateur do |f| %>
    <% if @utilisateur && @utilisateur.errors.any? %>
      <h2><%= pluralize(@utilisateur.errors.count, "erreurs") %> empêchent l'enregistrement de la société</h2>
      <ul>
        <% @utilisateur.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
      Nom : <%= f.text_field :nom %><br />
      Mot de passe : <%= f.password_field :password %><br />
      Confirmez le mot de passe : <%= f.password_field :password_confirmation %><br />
      <label>Droit de l'utilisateur</label>
      <%= collection_select :utilisateur, :droit_id, @droits, :id, :role %><br />
<%= f.submit %>
<% end %>

    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Droits</th>
      </tr>
      <% @Utilisateurs.each do |utilisateur| %>
        <tr>
          <td><%= utilisateur.id %></td>
          <td><%= utilisateur.nom %></td>
          <td><%= Droit.find(utilisateur.droit_id).role %></td>
          <td>
            <a href="/user/show?id=<%=utilisateur.id%>">
              <button>edit</button>
            </a>
          </td>
          <td>
            <a href="/user/delete?id=<%=utilisateur.id%>">x</a>
          </td>
        </tr>
      <% end %>
    <% else %>
      <p>Vous n'avez pas les droits requis pour accéder à cette page
      </p>
      <%= link_to 'Accueil', welcome_index_path %>
    <% end %>
  <% else %>
    <p>Vous devez être connecté pour pouvoir accéder à cette page</p>
    <%= link_to 'Accueil', welcome_index_path %>
  <% end %>
</table>
