<%= stylesheet_link_tag 'user' %>
<h1>CREER UN NOUVEL UTILISATEUR</h1>

<div class="line"></div>

<%= form_for :utilisateur do |f| %>
  <% if @utilisateur && @utilisateur.errors.any? %>
    <h2><%= pluralize(@utilisateur.errors.count, "erreurs") %> empêchent l'enregistrement de la société</h2>
    <ul>
      <% @utilisateur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.hidden_field :id %>
  Nom : <br /><%= f.text_field :nom %><br /><br />
  Mot de passe :<br /> <%= f.password_field :password, disabled: true %><br /><br />
  <label>Droit de l'utilisateur</label>
  <%= collection_select :utilisateur, :droit_id, @droits, :id, :role %><br /><br />
  <%= f.submit %>
<% end %>


<!--
<%= form_tag "/user/edit", method: :post do %>
<input type="hidden" value="<%=@utilisateur.id%>" name="id"/>
<p>
  <label>Nom de l'utilisateur :
  </label>
  <input type="text" name="nom" value="<%= @utilisateur.nom %>"/>
</p>
<p>
  <label>Rôle de l'utilisateur </label>
  <select name="role">
    <% @droits.each do |droit| %>
    <% if droit.role == Droit.find(@utilisateur.droit_id).role %>
    <option value="<%=droit.id%>" selected><%=droit.role%></option>
    <%else%>
      <option value="<%=droit.id%>"><%=droit.role%></option>
      <%end%>
  <% end %>
  </select </p>
  <input type="submit" value="Valider"/>
<% end %>-->
</p>
