<%= stylesheet_link_tag 'plan_action_type' %>

<% if @current_user %>
<% if Droit.find(@current_user.droit_id).role  == "admin"%>
  <% unless @anomalie %>
    <h1>TABLEAU DE BORD DES PLANS D'ACTION</h1>

    <div class="line"></div>
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Descriptif</th>
        <th>Temps restant</th>
        <th>Priorité</th>
        <th>Anomalie lié</th>
      </tr>
    <% @plans.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.incident_type%></td>
        <td><%= p.descriptif%></td>
        <td><%= p.temps%></td>
        <td><%= p.priorite%></td>
        <td><%= link_to p.anomaly_id.to_s<<" (Type = #{Anomalie.find(p.anomaly_id).alerte_type})", anomalie_show_url << "?id=#{p.anomaly_id}"%></td>
      </tr>
    <% end %>
  </table>

  <% else %>

    <h1>ACTIONS A METTRE EN PLACE</h1>

    <div class="line"></div>
    <%= link_to '<<< Retour', anomalie_path %>
    <% if  @types.include? @anomalie.alerte_type %>
      <p>Type : <%=@anomalie.alerte_type%></p>
      <p>Date de l'anomalie : <%=@anomalie.date%></p>
      <p>Date avant laquelle l'anomalie doit être traité :
      <%7.times do%>
        <% @anomalie.date = @anomalie.date.next_day%>
      <% end%>
      <%=@anomalie.date%>
    </p>
      <p>Description de l'anomalie : <%=@anomalie.descriptif%></p>

      <%= form_for :plan do |f| %>
          <% if @plan && @plan.errors.any? %>
            <h2><%= pluralize(@plan.errors.count, "erreurs") %> empêchent l'enregistrement de la société</h2>
            <ul>
              <% @plan.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
            </div>
          <% end %>
          <%= f.hidden_field :anomaly_id, value: @anomalie.id%>
            Descriptif :<br /> <%=f.text_area(:descriptif, size:"50x4", value:@anomalie.descriptif)%><br /><br />
            Actions à mener : <br /><%=f.text_area :liste_action, size:"50x4"%><br /><br />
            <%=flash[:date_error]%>
            Date limite : <%= f.date_field :temps %><br /><br />
            Priorité de traitement : <%=  f.select :priorite, [['Urgent', 'Urgent'], ['Très urgent', 'Très urgent'], ['Non urgent', 'Non urgent']]%><br /><br />
          <%= f.submit %>
      <% end %>

    <% end %>
  <%= link_to 'Générer', plan_show_url<<"?id=#{@anomalie.id}" %>
    <% end %>
<% else %>
  <p>Vous n'avez pas les droits pour accéder à cette page</p>
<% end %>
<% else %>
<p>Vous n'êtes pas connecté, veuillez vous connecter</p>
<%= link_to 'Accueil', welcome_index_path %>
<% end %>