<!DOCTYPE html>
<html>
  <head>
    <title>ProjetLorcyber</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>
  <% if @current_user %>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <a class="navbar-brand" href="<%= welcome_index_path %>"><%= image_tag "logo.png", alt: "Logo"%></a>
      </div>

      <ul class="list-unstyled components">
        <p>Menu de navigation</p>

        <li class="nav-item">
          <%= link_to "Home", welcome_index_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Anomalie", anomalie_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Societe', societe_path, class: "nav-link" %>
        </li>
        <% if Droit.find(@current_user.droit_id).role == "admin" %>
        <li class="nav-item">
          <%= link_to 'Utilisateurs', user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Plans d\'action', plan_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>

      <ul class="list-unstyled CTAs">
        <li>
          <%= link_to 'Deconnexion', welcome_deconnexion_url, class: "download" %>
        </li>

      </ul>
    </nav>
    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="glyphicon glyphicon-align-left"></i>
              <span>Affichage Menu</span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
            </ul>
          </div>
        </div>
      </nav>
  <% end %>
      <%= yield %>
    </div>
  </div>


  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
          });
      });
  </script>


  </body>
</html>
